extends ../layout/common

block content
  h1 View transactions

  form(  method="POST")
    label Type the level of completion 
    br
    select(name="isComplete")
        option(selected='true' ) True
        option(selected='false' ) False

    button.btn.btn-success Update