extends ../layout/common

block content
  h1 Update Name
  form(action="/users/"+users.id+"/update",  method="POST",enctype="multipart/form-data")
    label Name 
    input(type="text", name="name",value=users.name)
    b Avatar
    input.form-control(name="avatar",value=users.avatar,type="file")
    button.btn.btn-success Update