extends ../layout/common.pug
block content
  h1 Products 
  each per in perPage
    .row
      each product in perPage
        .col-sm-6.col-md-4.col-lg-3
          .card.mb-3
            img.card-img-top(src=product.img)
            .card-body
              h5.card-title= product.name
              p.card-text= product.description
              a.btn.btn-primary(href='#') Add to cart
  nav(aria-label='...')
    ul.pagination
      li.page-item
        a.page-link(href='/product?page='+ (page-1)) Previous
      li.page-item
        a.page-link(href='/product?page=' + (page-1))=page-1
      li.page-item.active(aria-current='page')
        span.page-link=page
          span.sr-only (current)
      li.page-item
        a.page-link(href='/product?page=' + (page+1))=page+1
      li.page-item
        a.page-link(href='/product?page='+(page+1)) Next